
<div class="main-content">
  <div class="header">
      <div class="clay-category">
          <p>Earthenware</p>
      </div>
      <div class="clay-category">
          <p>Stoneware</p>
      </div>
      <div class="clay-category">
          <p>Porcelain</p>
      </div>
  </div>

  <div class="large-banner">
    <a href="javascript:void(0);" title="Explore">
      Take a Look
    </a>
  </div>

  <hr>

  <div class="featured-clay">
    <div>
      <div></div>
      <div>
        <h3>Fun With Clay</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="javascript:void(0);" title="featured clay">Let's Go</a>
      </div>
    </div>

    <div>
      <div></div>
      <div>
        <h3>Type of Clay</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="javascript:void(0);" title="featured clay">Let's Go</a>
      </div>
    </div>

    <div>
      <div></div>
      <div>
        <h3>Clay Every Day</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="javascript:void(0);" title="featured clay">Let's Go</a>
      </div>
    </div>

    <div>
      <div></div>
      <div>
        <h3>Fun With Clay</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="javascript:void(0);" title="featured clay">Let's Go</a>
      </div>
    </div>

    <div>
      <div></div>
      <div>
        <h3>Type of Clay</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="javascript:void(0);" title="featured clay">Let's Go</a>
      </div>
    </div>

    <div>
      <div></div>
      <div>
        <h3>Clay Every Day</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="javascript:void(0);" title="featured clay">Let's Go</a>
      </div>
    </div>
  </div>
</div>

