
  
    <script src="../assets/js/jquery-2.1.0.min.js"></script>
   <!-- Bootstrap -->
<script src="../assets/js/popper.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="../assets/js/owl-carousel.js"></script>
<script src="../assets/js/scrollreveal.min.js"></script>
<script src="../assets/js/waypoints.min.js"></script>
<script src="../assets/js/jquery.counterup.min.js"></script>
<script src="../assets/js/imgfix.min.js"></script>

<!-- Global Init -->
<script src="../assets/js/custom.js"></script>
<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="../home/home.component.html" class="logo">
                     
                  </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                      <li class="scroll-to-section"><a href="#welcome" class="menu-item">Home</a></li>
                      <li class="scroll-to-section"><a href="#about" class="menu-item">About</a></li>
                      <li class="scroll-to-section"><a href="" class="menu-item">Jobs</a></li>
                      <li class="scroll-to-section"><a href="" class="menu-item">Shop</a></li>
                      <li class="submenu">
                          <a href="javascript:;">Health</a>
                          <ul>
                              <li><a href="" class="menu-item">Meals</a></li>
                              <li><a routerLink="/ListActivity" class="menu-item">Activities</a></li>
                            
                          </ul>
                      </li>
                      <li class="scroll-to-section"><a href="" class="menu-item">Forum</a></li>
                      <li class="scroll-to-section"><a href="#contact-us" class="menu-item">Contact Us</a></li>
                  </ul>
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
<header>



<!-- ***** Header Area End ***** -->
